.App {
  /* text-align: center; */
  margin: 10px;
}

table,th,td{
  border: 1px solid #dddd;
  border-collapse: collapse;
  padding: 0 2rem 0 2rem;
  margin: 20px;
  margin-left: 2px;
}

tr:nth-child(even){
  background-color: #dddd;
}

.table-container{
  display: flex;
}